S3method("-",popgraph)
export(as.popgraph)
export(centroid_distance)
export(centroid_variance)
export(congruence_topology)
export(decorate_graph)
export(geom_edgelabels)
export(geom_edgeset)
export(geom_nodeset)
export(overlay_popgraph)
export(permute_popgraph)
export(popgraph)
export(read.popgraph)
export(test_congruence)
export(theme_empty)
export(to_SpatialLines)
export(to_SpatialPoints)
export(to_data.frame)
export(to_html)
export(to_json)
export(to_kml)
export(to_matrix)
export(to_pgraph)
export(write_popgraph)
import(Matrix)
import(ggplot2)
import(igraph)
import(sampling)
importFrom(sp,Line)
importFrom(sp,Lines)
importFrom(sp,SpatialLines)
importFrom(sp,SpatialPoints)
importFrom(sp,bbox)
