export(as.population_graph)
export(centroid_distance)
export(congruence_topology)
export(decorate_popgraph)
export(population_graph)
export(read.popgraph)
export(test_congruence)
export(to_html)
export(to_json)
export(to_kml)
export(to_matrix)
export(to_SpatialLines)
export(to_SpatialPoints)
