export(as.population_graph)
export(centroid_distance)
export(centroid_variance)
export(congruence_topology)
export(decorate_graph)
export(overlay_population_graph)
export(population_graph)
export(read.population_graph)
export(test_congruence)
export(to_html)
export(to_json)
export(to_kml)
export(to_matrix)
export(to_pgraph)
export(to_SpatialLines)
export(to_SpatialPoints)
export(write.population_graph)
